<div id="<%= dom_id reservation %>">
  <p>
    <strong>Start date:</strong>
    <%= reservation.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= reservation.end_date %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= reservation.description %>
  </p>

</div>
